table {
  width: 100%;
  background: #fff;
}

mat-card {
  background: #fff;
}
.mat-cell {
  color: #000;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: rgb(219, 219, 219);
}

.background-228 {
  ::ng-deep .mat-checkbox-background {
    background: rgb(228, 228, 228);
  }
}

::ng-deep .mat-checkbox-frame {
  border-color: rgb(228, 228, 228);
}

.mat-header-cell {
  color: #fff;
  background-color: #00a99d;
}

.mat-checkbox-input {
  border: 1px solid black;
}
