<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <span class="material-icons">
      notes
      </span>
  </button>
  <span>Users</span>
  <span class="example-spacer"></span>
  <img class="avatar" src="../../assets/avatar.png">
  <div class="user-name">
    John Doe
  </div>
</mat-toolbar>
