.example-spacer {
  flex: 1 1 auto;
}
mat-toolbar{
  background-color: #fff;
  color: #777;
  border: none;
}

button{
  border: none;
  background-color: #fff;
}

.avatar {
  width: auto;
  height: 35px;
  border-radius: 50%;
  margin-right: 10px;
}


.user-name {
  font-weight: 100;
}
