<mat-card class="user-list-card">
  <mat-card-title class="user-list-title progress">PROGRESS</mat-card-title>
  <mat-card-content>
    <mat-progress-bar mode="determinate" [value]="value"></mat-progress-bar>

    <p class="marg-top-15">
      <span class="title">Male Users: </span>{{maleUSers}}
    </p>
    <p>
      <span class="title">Female Users: </span>{{femaleUsers}}
    </p>
  </mat-card-content>
</mat-card>
