mat-dialog-actions button:nth-child(1) {
  border-top-left-radius: 33px 30px;
  border-top-right-radius: 33px 30px;
  border-bottom-left-radius: 33px 30px;
  border-bottom-right-radius: 33px 30px;
  background: #ffffff;
  border: 1px solid #00a99d;
  width: 119px;
  color: #00a99d;
  font-weight: 600;
}

mat-dialog-actions button:nth-child(2) {
  border-top-left-radius: 33px 30px;
  border-top-right-radius: 33px 30px;
  border-bottom-left-radius: 33px 30px;
  border-bottom-right-radius: 33px 30px;
  background: #00a99d;
  width: 119px;
  color: white;
  font-weight: 600;
}
