<h2 mat-dialog-title>Delete User</h2>
<mat-dialog-content>
Are you sure you want to delete {{user.name}}?
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button class="no" [mat-dialog-close]="false">No</button>
  <button mat-button class="yes" [mat-dialog-close]="true">Yes</button>
</mat-dialog-actions>
