<div class="flex-container">
  <div class="width-66">
    <app-users (setUsers)="setUsers($event)" class="width-94"></app-users>
  </div>
  <div class="width-33">
    <app-progressbar [users]="users" class="width-94"></app-progressbar>
  </div>
</div>
