<h2 mat-dialog-title>Edit User</h2>
<div *ngIf="user">
  <form [formGroup]="user">

    <p>
      <mat-form-field appearance="outline" class="width-100">
        <mat-label>Name</mat-label>
        <input formControlName="name" matInput placeholder="Enter a name">
      </mat-form-field>
    </p>

    <p>
      <mat-form-field appearance="outline" class="width-100">
        <mat-label>Email Address</mat-label>
        <input formControlName="email" matInput placeholder="Email Address">
      </mat-form-field>
    </p>

    <p>
      <label>Gender: </label>
      <mat-radio-group formControlName="gender">
        <mat-radio-button color="primary" value="Male">Male </mat-radio-button>
        <mat-radio-button color="primary" value="Female">Female</mat-radio-button>
      </mat-radio-group>
    </p>

    <p>
      <mat-form-field appearance="outline" class="width-100">
        <mat-label>Date Of Birth</mat-label>
        <input formControlName="dateOfBirth" matInput [matDatepicker]="picker" placeholder="Enter a date of birth">
        <mat-icon (click)="picker.open()" matSuffix>today</mat-icon>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </p>

    <p>
      <mat-form-field appearance="outline" class="width-100">
        <mat-label>Address</mat-label>
        <textarea formControlName="address" matInput></textarea>
      </mat-form-field>
    </p>

  </form>
</div>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="user">Submit</button>
</mat-dialog-actions>
