mat-dialog-actions button {
  border-top-left-radius: 33px 30px;
  border-top-right-radius: 33px 30px;
  border-bottom-left-radius: 33px 30px;
  border-bottom-right-radius: 33px 30px;
  background: #00a99d;
  width: 119px;
  color: white;
  font-weight: 600;
}


