@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

@import "~@angular/material/theming";
@include mat-core();

$primary: mat-palette($mat-teal, 400);
$accent: mat-palette($mat-orange, 200);

$theme: mat-light-theme($primary, $accent);

@include angular-material-theme($theme);

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Poppins, "Helvetica Neue", sans-serif;
  background: #ccc;
}
* {
  font-family: "Poppins", sans-serif;
}

.width-100 {
  width: 100%;
}

.width-94 {
  width: 98%;
}

.user-list-card {
  border: 0px;
  padding: 10px;
  background: white;
  margin-top: 15px;
}

.user-list-title {
  font-size: 20px;
  color: #777;
  margin-bottom: 15px;
}
